/* styles.css */

section {
   margin-bottom: 15 px;
   text-align: center;
}
.container {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-items: center;
}

.item {
/*     background-color: #d9b99b; */
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}

/* .container > div {
  width:33%;
   background-color: 	#d9b99b;
} */
.conatiner p, .conatiner h1, .conatiner h2, .conatiner h3, .conatiner h4, .conatiner h5, .conatiner h6{
    margin-bottom: 3px;
   margin-top:1 px;
}

body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #eed9c4;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 10px;
}
header {
    background-color: #333; 
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 1.5rem; 
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-right: 10px;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav li a:hover {
    background-color: #555; 
}

footer {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto;
}
